<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
    <servlet>
        <servlet-name>PrevisaoServlet</servlet-name>
        <servlet-class>controller.PrevisaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrevisaoServlet</servlet-name>
        <url-pattern>/PrevisaoServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
